
body {
  background-color:#FFC4C4;
  margin:20px 30px 30px 30px;
}

nav {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 30px;
}

h3 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 20px;
}

h4 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

p {
  font-family: Verdana, Helvetica, sans-serif;
  margin: 20px 280px 30px 260px;
  font-size: 18px;
  line-height: 1.5;
}

ul {
  font-family: Verdana, Helvetica, sans-serif;
  margin: 20px 110px 30px 90px;
  font-size: 18px;
  text-align: center;
  list-style: inside;
  line-height: 1.5;
}
